__PUBLIC_HOST__ {
  encode gzip zstd

  @api path /v1* /api* /auth* /health
  reverse_proxy @api host.docker.internal:8789

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }

  reverse_proxy host.docker.internal:5174
}
